{
  servers {
    trusted_proxies static private_ranges
  }
}

(tls_cloudflare) {
  tls {
    dns cloudflare {env.CLOUDFLARE_API_TOKEN}
  }
}

(authelia) {
  forward_auth localhost:9091 {
    uri /api/authz/forward-auth
    copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
  }
}

docs.highcarlsagan.dev {
  import tls_cloudflare
  import authelia
  root * /srv/filebrowser
  file_server
}

auth.highcarlsagan.dev {
  import tls_cloudflare
  reverse_proxy localhost:9091
}

ha.highcarlsagan.dev {
  import tls_cloudflare
  import authelia
  reverse_proxy localhost:8123
}

pihole.highcarlsagan.dev {
  import tls_cloudflare
  import authelia
  redir / /admin 302
  reverse_proxy http://localhost:8888
}

files.highcarlsagan.dev {
  import tls_cloudflare
  import authelia
  reverse_proxy localhost:3000
}

passive.highcarlsagan.dev {
  import tls_cloudflare
  import authelia
  reverse_proxy localhost:8080
}

status.highcarlsagan.dev {
  import tls_cloudflare
  import authelia
  reverse_proxy http://127.0.0.1:3001
}

torrent.highcarlsagan.dev {
  import tls_cloudflare
  import authelia
  reverse_proxy localhost:8081
}

resume.highcarlsagan.dev {
  import tls_cloudflare
  root * /var/www/portfolio
  try_files resume.html
  file_server
}

highcarlsagan.dev {
  import tls_cloudflare
  root * /var/www/portfolio
    file_server
    encode gzip
}
